<!DOCTYPE html>
<html lang="en">

{{> htmlhead }}

<body>
    <div class="kids-wrapper">
        <main id="app">
            <div class="mediaSelectors">
                <img class="mediaButton" src="images/Shows-Button-Kids.svg" alt="Shows">
                <img class="mediaButton" src="images/Movies-Button-Kids.svg" alt="Movies">
                <img class="mediaButton" src="images/Music-Button-Kids.svg" alt="Music">
            </div>
            <div class="kidsMediaSection">
                <section class="media">
                    <img src="" alt="Media">
                    <p>Title</p>
                </section>
            </div>
        </main>
    </div>
        {{> scripts}}
</body>
</html>