<!DOCTYPE html>
<html lang="en">

{{> htmlhead }}

<body>
    {{> header }}
    <div class="wrapper">
        <main id="app">

            {{{ body }}}
            
        </main>
    </div>
    {{> footer }}
        {{> scripts}}
</body>
</html>