<!DOCTYPE html>
<html lang="en">

{{> htmlhead }}

<body>
    {{> header }}
    <div class="wrapper" id="app">

            {{{ body }}}
            
    </div>
    {{> footer }}
        {{> scripts}}
</body>
</html>