<!DOCTYPE html>
<html lang="en">

{{> htmlhead }}

<body>
    <div class="wrapper">
        <main id="app">
            {{> header }}

            {{{ body }}}

            {{> footer }}
            
        </main>
        {{> scripts}}
    </div>
</body>
</html>