<header>
    <div><img class="logo" src="images/Roku-Logo.png" alt="Logo"></div>
    <h2>Flashback</h2>

    <h3 class="profileTitle">Profile</h3>
    <div class="profile"><a href="#"><img src="images/User-Icon-Parents.svg" alt="Icon"></a></div>
</header>